@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="/Content/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/Client/css/splide.min.css">
    <link rel="stylesheet" href="/Content/Client/css/slimselect.css">
    <link rel="stylesheet" href="/Content/Client/css/plyr.css">
    <link rel="stylesheet" href="/Content/Client/css/photoswipe.css">
    <link rel="stylesheet" href="/Content/Client/css/default-skin.css">
    <link rel="stylesheet" href="/Content/Client/css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="/Content/Client/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/Content/Client/icon/favicon-32x32.png">

    <meta name="description" content="BBFlix - Online Movies, TV Shows & Cinema">
    <meta name="keywords" content="">
    <meta name="author" content="BBFlix">
    <title>BBFlix – Online Movies, TV Shows & Cinema</title>

</head>
<body>
    <div class="sign section--bg" data-bg="/Content/Client/img/bg/section__bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- registration form -->
                        <form action="#" class="sign__form">
                            <a href="/" class="sign__logo">
                                <img src="/Content/Client/img/logo.svg" alt="">
                            </a>

                            <div class="sign__group">
                                <input type="text" class="sign__input" placeholder="Tên hiển thị">
                            </div>

                            <div class="sign__group">
                                <input type="text" class="sign__input" placeholder="Email">
                            </div>

                            <div class="sign__group">
                                <input type="password" class="sign__input" placeholder="Mật khẩu">
                            </div>

                            <div class="sign__group sign__group--checkbox">
                                <input id="remember" name="remember" type="checkbox" checked="checked">
                                <label for="remember">Tôi đồng ý với <a href="/dieu-khoan">Điều khoản</a></label>
                            </div>

                            <button class="sign__btn" type="button"><span>Đăng ký</span></button>

                            <span class="sign__text">Đã có tài khoản? <a href="/dang-nhap">Đăng nhập!</a></span>
                        </form>
                        <!-- registration form -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="/Content/Client/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/Client/js/splide.min.js"></script>
    <script src="/Content/Client/js/smooth-scrollbar.js"></script>
    <script src="/Content/Client/js/slimselect.min.js"></script>
    <script src="/Content/Client/js/plyr.min.js"></script>
    <script src="/Content/Client/js/photoswipe.min.js"></script>
    <script src="/Content/Client/js/photoswipe-ui-default.min.js"></script>
    <script src="/Content/Client/js/main.js"></script>
</body>
</html>